<p matLine> <a mat-icon-button color="accent"><mat-icon>chevron_left</mat-icon></a></p>
<mat-card>
<p matLine>A iSURE é uma Consultoria Especializada em Gestão de Benefícios e Seguros, surgiu como um ideal do Rodrigo Curaça e Thalles Sanchez, fundadores da empresa.</p>

<p matLine>Visando equilibrar a Gestão de Benefícios junto as empresas e RHs, a iSURE apresenta ferramentas, tecnologia e agentes especializados que garantem a qualidade dos serviços que oferecemos.</p>

<p matLine>Nosso objetivo sempre será com a inovação, Serviço, Unidade, Resultado e Exclusividade – iSURE – Temos como foco atender unicamente cada cliente.</p>

<p matLine>Buscamos sempre soluções diferentes, pois tratamos cada empresa de acordo com sua necessidade, trabalhamos exatamente na exclusividade de cada empresa.</p>

<p matLine>Diante de um cenário cada vez mais desafiador, custos elevados, Normas e Leis que não favorecem as empresas, desenvolvemos ferramentas, produtos e serviços que se encaixam exatamente nas reais necessidades corporativas. Acreditamos que a expertise proporciona resultados que engrandecem e apoiam qualquer empresa na tomada de decisão.</p>
<mat-card-actions>
  <button mat-icon-button color="accent"><mat-icon>chevron_left</mat-icon></button>
</mat-card-actions>
</mat-card>