<form class="form-space" fxLayout="column" #registerForm="ngForm" >
    <!--This area deals with user loggin and data fields. -->
    <p>Please, check your personal data, address, contact info and login password:</p>
    <!--<mat-form-field fxFlex>
      <input matInput type="text" placeholder="Name" name="userName" [(ngModel)]="loginUser.name" 
        required minLength="4" maxlength="80" pattern="^[\wÀ-ú]+(\s[\wÀ-ú]+){1,10}" #userName="ngModel">
        <mat-error *ngIf="userName.touched && userName.invalid">
          Full Name is required.
        </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="tel" placeholder="Telephone"
      name="tel" [(ngModel)]="loginUser.tel" #tel="ngModel"
      required minlength="8" maxlength="15">
      <mat-error *ngIf="tel.touched && tel.invalid">   
          A valid phone is required.
      </mat-error>
    </mat-form-field>
      {{tel.valid}} {{tel.dirty}} {{tel.errors | json}}-->
    <mat-form-field fxFlex>
      <input matInput type="email" placeholder="E-Mail" name="email" [(ngModel)]="loginUser.email" required #email="ngModel">
      <mat-error *ngIf="email.touched && email.invalid">
          A valid email is required.
      </mat-error>
    </mat-form-field>
    
    <!--This area deal with password -->
    <div class="password" fxFlex fxLayout="column" [fxHide]="loggedUser">
      <mat-form-field fxFlex>
        <input matInput 
        [type]="hidePassword ? 'password' : 'text'" required placeholder="Password" name="password"
        [(ngModel)]="loginUser.password" #password="ngModel"  minlength="6" maxlength="8" >
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput 
        [type]="hidePassword ? 'password' : 'text'" required placeholder="Confirm Password" name="confirmPassword"
        [(ngModel)]="loginUser.confirmPassword" minlength="6" maxlength="8" #confirmPassword="ngModel">
      </mat-form-field>
      <div>
        <p class="errorText" [fxHide]='passwordsEqual'>Senha e confirmação de senha estão diferentes</p>
      </div>
      <button fxFlex flxAlign="center" mat-raised-button  (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>Exibir Senha
      </button>
    </div>
    <mat-divider></mat-divider>
    <button fxFlex flxAlign="center" mat-raised-button [disabled]="!registerForm.valid" [fxHide]="loggedUser"  (click)="createUser()" [attr.aria-label]="'Registrar'">
      <mat-icon></mat-icon> Registrar
    </button>
    <button fxFlex flxAlign="center" [fxHide]="loggedUser" mat-raised-button (click)="createGoogleUser()" [attr.aria-label]="'Registre-se via Google'">
      <mat-icon>account_box</mat-icon> Registre-se via Google
    </button>
    <button fxFlex flxAlign="center" [fxHide]="!loggedUser"  mat-raised-button (click)="logout()" [attr.aria-label]="'Logout'">
      <mat-icon>account_box</mat-icon> Sair
    </button>
  </form>