.home {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/template-56c3b.appspot.com/o/template_app_home.png?alt=media&token=cff05420-be4a-4953-8b82-f44d48281081");
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: cover;
  height: 90vh
}

form {
  padding: 30px
}

mat-form-field {
    background-color: white;
    opacity: 70%;
    border-radius: 10px;
     padding: 1vh, 1vw;
}

img {
  padding: 5%;
}
