
<div class="main" fxLayout="column" fxLayoutAlign="center;center">
<app-title fxFlex title="Escolha a Operadora"></app-title>
<div class="myScroll" fxLayout="column" fxLayoutAlign="center;center">
<virtual-scroller fxFlex="100%"  [scrollAnimationTime]="2" #scroll horizontal="true" [items]="planos">
  <p *ngFor="let item of scroll.viewPortItems">
    <img  [src]="item.src" [alt]="item.name" align="center" width="90%"><br>
  </p>
</virtual-scroller>
</div>
<div fxFlex="70%" class="table" fxFlex><p></p></div>
<app-footer fxFlex fxAlign="end"></app-footer>
</div>



