virtual-scroller {
  width: 90%;
  height: 8rem;
  margin: auto;
  background-color: white;
}

p {
  display: inline;
  width: 30%;
  line-height: 80px;
  padding: 5px
}

.myScroll {
  margin: auto;
  padding: 10px;
}
